.App {
  text-align: center;
}

.Game {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.piece {
  visibility: hidden;
  height: 100%;
  width: 100%;
}

.playButton {
    font-size: 12pt;
    max-width: 160px;
    min-width: 160px;
    margin: 10px;
}

.Board {
  display: flex;
}

.Hole {
  min-width: 50px;
  min-height: 30px;
  border: 1px solid black;
}

.Hole div {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
}

.Red {
  background-color: red;
}

.Yellow {
  background-color: yellow;
}
